@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    outline: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.header, .footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #015CA9;
    color: white;
    text-align: center;
    font-size: 16px;
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.filter {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-direction: column;
}

.filter .content-filter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter .content-filter button {
    border: none;
    width: 40px;
    height: 40px;
    background-color: #015CA9;
    color: #fff;
    border-radius: 12px;
    margin: 0px 10px;
    cursor: pointer;
}

.filter .content-filter button:hover {
    opacity: 0.9;
}

.totals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.card-total {
    min-width: 200px;
    width: auto;
    max-width: 300px;
    height: 100px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 20px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.card-total span {
    font-size: 12px;
}

.card-total .strong {
    margin-top: 14px;
    font-size: 22px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

.entradas {
    color: #015CA9;
}

.saidas {
    color: #CC3232;
}

.form {
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
    padding: 20px 10px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.field {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 15px;
    width: 150px;
    height: auto;
}

.field label {
    margin-bottom: 8px;
    font-size: 14px;
}

.field-3 {
    width: 30%;
}

input, select {
    background-color: white;
    border-style: none;
    height: 45px;
    border-radius: 5px;
    width: 100%;
    padding: 0px 10px;
}

.save-btn {
    border: none;
    width: 100px;
    height: 45px;
    border-radius: 12px;
    background-color: #015CA9;
    color: #fff;
    cursor: pointer;
    margin-top: 22px;
}

.save-btn:hover {
    opacity: 0.9;
}

.transaction-list {
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 60px;
}

.transaction-list table {
    width: 100%;
    border-collapse: collapse;
}

.transaction-list th, .transaction-list td {
    text-align: center;
    padding: 8px;
    font-size: 14px;
}

.transaction-list th {
    background-color: #f2f2f2;
    font-size: 14px;
    text-transform: uppercase;
    color: #131316;
    font-weight: normal;
}

.transaction-list td.entrada {
    color: #015CA9;
}

.transaction-list td.saida {
    color: #CC3232
}

.transaction-list button {
    border: none;
    border-radius: 22x;
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #015CA9;
    color: white;
    cursor: pointer;
}

.transaction-list button:hover{
  opacity: 0.9;
}

.transaction-list button:hover {
    background-color: #0056b3;
}

.transaction-list button:active {
    background-color: #004494;
}

.type-icon {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100px;
    height: 100%;
    text-transform: capitalize;
}

.type-icon img {
    width: 32px;
    height: 32px;
}

@media (max-width: 768px) {
  .header, footer{
    width: 100%;
  }
    .totals {
      width: 100%;
        flex-direction: column;
    }

    .cards {
      width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .card-total{
      width: 80%;
    }

    .filter {
        flex-direction: column;
        align-items: center;
    }

    .form {
        padding: 30px;
        flex-direction: column;
        align-items: center;

        input, select{
          width: 100%;
        }
    }

    .field {
        width: 80%;
    }

    .field-3 {
        width: 80%;
    }

    .transaction-list {
        font-size: 12px;
        width: 100%;
        overflow-y: auto;
    }

    .transaction-list table{
      width: 100%;
    }
}
